*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    height: 100vh;
    align-items: center;
}
form{
    background-color: red;

}
input{
    background-color: transparent;
    margin-bottom: 2rem;
    border-style: none;
    border-bottom: 1px solid black;

}

.btn{
    display: flex;
    justify-content: center;
}